<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
</head>
<body>

<h1>Gmail Metadata Extractor</h1>
<p>This app allows you to download your gmail metadata.</p>
<p>It uses google OAuth2 to authorize user via google website. The server will NOT store any password or metadata of your gmail</p>
<a href="login/google-oauth2">Login with google</a>

</body>
</html>