<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>members</title>
    {# Load the tag library #}
    {% load bootstrap3 %}
</head>
<body>

    <!-- Page Content -->
    <div class="container">

        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <h1>Hello {{ user.get_full_name|default:user.username }}!   <small><span class="glyphicon glyphicon-log-out" aria-hidden="true"><a href="{% url 'gmail:logout' %}">Logout</a></span></small></h1>
                <p class="lead">Please be patient while we are retrieving your gmail metadata...</p>
                <form class="form-horizontal col-sm-8 col-sm-offset-2" action="{% url 'gmail:members' %}" method="post">
                    {% csrf_token %}
                    {% bootstrap_form form layout='horizontal'%}
                    {% buttons submit='Download' layout='horizontal' %}{% endbuttons %}
{#                    <input type="submit" value="Download" class="btn btn-primary"/>#}
                </form>
{#                <span class="glyphicon glyphicon-log-out" aria-hidden="true"><a href="{% url 'gmail:logout' %}">Logout</a></span>#}
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <script>
        $("#id_all_messages").change(function () {
            if ($(this).is(":checked")){
                $("#id_max_results").prop('disabled', true);
            }
            else {
                $("#id_max_results").prop('disabled', false);
            }

        })

    </script>
</body>
</html>